* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Montserrat', sans-serif;
}

.upgrade-bar {
    width: calc(100% - 250px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
}

.app-wrapper {
    width: 100%;
    height: 100vh;
    background-color: salmon;
}

/* main */
main {
    width: 100%;
    height: calc(100% - 100px);
    background-color: lightgray;
    overflow: hidden;
}
/* main nav  */
.main-nav {
    color: white;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    float: left;
    width: 250px;
    height: 100%;
    background-color: black;
}

.logo {
    padding: 5px;
    height: 90px;
    width: 87%;
    background-color: black;
}

.nav-actions {
    height: 120px;
    background-color: black;
    color: white;
}

.nav-icons {
    font-size: 35px;
    height: 32px;
    padding: 0 3px;
    vertical-align: middle;
}

.element {
    font-size: 15px;
    padding: 3px;
}

.nav-playlists {
    line-height: 26px;
    flex-grow: 1;
    overflow: hidden;
    background-color: black;
    padding: 10px 0;
}



.nav-playlists ul {
    overflow-y: auto;
    height: 80%;
}

.create-playlist {
    display: flex;
    font-size: 18px;
    font-weight: 900;
}

.new-playlist {
    font-size: 30px;
    vertical-align: middle;
}


.user {
    background-color: blue;
    color: white;
}


/* main content */
.main-content {
    padding-top: 150px;
    float: left;
    width: calc(100% - 250px);
    height: 100%;
    background-color: lightsalmon;
    overflow-y: auto;

}

/* footer */
footer {
    width: 100%;
    height: 100px;
    background-color: seagreen;
    overflow: hidden;
}