* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.upgrade-bar {
    width: calc(100% - 250px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.app-wrapper {
    width: 100%;
    height: 100vh;
    background-color: salmon;
}

.container {
    width: 70%;
    margin: auto;
}


/* main */
main {
    width: 100%;
    height: calc(100% - 100px);
    background-color: lightgray;
    overflow: hidden;
}
/* main nav  */
.main-nav {
    color: #6c6c6c;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    float: left;
    width: 250px;
    height: 100%;
    background-color: black;
}

.logo {
    padding: 5px;
    height: 90px;
    width: 87%;
    background-color: black;
}

.nav-actions {
    height: 120px;
    background-color: black;
}

.nav-icons {
    font-size: 35px;
    height: 32px;
    padding: 0 3px;
    vertical-align: middle;
}


.element {
    font-size: 15px;
    padding: 3px;
}

.nav-playlists {
    line-height: 34px;
    flex-grow: 1;
    overflow: hidden;
    background-color: black;
}

.playlist {
    color: white;
}

.plus-playlist  {
    margin-left: 10px;
    align-self: center;
}   

h3 {
    padding: 5px 0;
}

.nav-playlists ul {
    overflow-y: auto;
    height: 80%;
}



.create-playlist {
    display: flex;
    font-size: 18px;
    font-weight: 900;
}

.new-playlist {
    font-size: 40px;
    vertical-align: middle;
    padding: 5px 0;
}


.user {
    background-color: black;
}

.install {
    padding: 10px;
    border-bottom: 1px solid #6c6c6c;
}

.nav-icons-end {
    height: 15px;
    padding: 0 3px;
    vertical-align: middle;
}

.nav-icon-profile {
    height: 40px;
    padding: 5px 3px;
    vertical-align: middle;
    background-color: grey;
    border-radius: 50px;
    margin: 6px 0;
}

.profile {
    color: white;
    margin-left: 10px;
}


/* main content */
.main-content {
    padding-top: 100px;
    float: left;
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
}

.content-menu {
    width: 100%;
    height: 40px;
}

.nav-menu {
    color: white;
}

.central-menu {
    text-align: center;
}

.central-menu ul li {
    display: inline-block;
    margin: 0 15px;
}


.recently-played {
    width: 100%;
    height: 185px;
    background-color: pink;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    color: white;
    margin-left: 10px;
}

.songs-played {
    display: flex1;
    width: 15%;
    height: auto;
}

/* footer */
footer {
    width: 100%;
    height: 100px;
    background-color: seagreen;
    overflow: hidden;
}

/* upgrade bar */

.upgrade-button {
    font-size: 13px;
    padding: 10px 39px;
    color: white;
    border: 1px solid;
    width: 230px;
    border-radius: 28px;
    height: 38px;
    margin: 20px 5px;
}